.flexbox {
    display: flex;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: space-evenly;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.logolinkedin {
    height: 40px;
    width: 40px;
    padding-top: 4px;
    padding-left: 4px;
    transition: background-color 0.15s ease;
    border-radius: 20%;
}
.logolinkedin:hover,
.logolinkedin:focus,
.logolinkedin:active {
    background-color: #0073b1b4;
    border-radius: 20%;
}

.logogithub {
    height: 40px;
    width: 40px;
    padding-top: 4px;
    padding-left: 4px;
    transition: background-color 0.15s ease;
    border-radius: 100%;
}
.logogithub:hover,
.logogithub:focus,
.logogithub:active {
    background-color: #967bb6b8;
    border-radius: 100%;
}

.logoinstagram {
    height: 40px;
    width: 40px;
    padding-top: 4px;
    padding-left: 4px;
    transition: background-color 0.15s ease;
    border-radius: 20%;
}
.logoinstagram:hover,
.logoinstagram:focus,
.logoinstagram:active {
    background: linear-gradient(0.15turn, #f58529b6, #dd2a7bb2, #8234af93);
    border-radius: 20%;
}

.flowingHighlight {
    box-shadow: 0 0 10px #000000;
    transition: box-shadow 0.5s ease-in-out;
}

.flowingHighlight:hover {
    box-shadow: 0 0 10px #77BDDF;
}