.flexbox {
    display: flex;
    align-items: center;
}

.tabscontainer {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: space-between;
    align-items: center;
}

.tab {
    padding: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color 0.15s ease-in;
}
.tab:hover,
.tab:focus,
.tab:active {
    background: linear-gradient(0.25turn, #4babffc9, #fff);
    border-radius: 10%;
}

.homelogo {
    font-family: Pacifico;
    font-size: 50px;
}

.logoowl {
    height: 64px;
    width: 64px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.15s ease;
    border-radius: 100%;
}
.logoowl:hover,
.logoowl:focus,
.logoowl:active {
    background: linear-gradient(0turn, #fff, #cececed9, #b3680cb9);
    border-radius: 100%;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../asset/Pacifico/Pacifico-Regular.ttf');
    font-style: normal;
}